{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link href="{% static 'admin/css/custom.css' %}?v=15" rel="stylesheet">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/ckeditor-theme.js' %}?v=1" defer></script>
{% endblock %}
